@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

html,
body {
  font-family: "Allerta Stencil", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  font-size: 1.125rem;
  color: #fff;
  margin-left: 0.5rem;
}

@layer components {
  html {
    @apply bg-no-repeat bg-cover placeholder:bg-center bg-space-theme-1;
  }

  .layout-spaces {
    @apply mx-3 my-4;
  }

  .settingsModal {
    @apply border-2 border-gray-900 border-solid rounded-xl w-80 h-settingsModalLg bg-button;
  }

  .reportModal {
    @apply p-8 border-2 border-gray-900 border-solid rounded-xl w-reportModal h-settingsModalLg bg-button;
  }

  .summary {
    @apply flex justify-between mt-6 text-lg text-center text-white;
  }

  .summaryComponent {
    @apply w-28;
  }

  .summaryNumVal {
    @apply mb-2 text-5xl font-semibold text-primary;
  }

  .summaryLabel {
    @apply text-center;
  }

  .userMenu {
    @apply w-40 h-16 text-lg text-center text-white border-2 border-gray-900 border-solid rounded-xl bg-button;
  }

  .confirmModal {
    @apply flex items-center justify-center h-20 text-white md:h-14 bg-button;
  }

  .modalTitle {
    @apply px-5 pt-3 pb-6 text-xl tracking-wide text-center text-white;
  }

  .modalSubtitle {
    @apply px-4 pb-1.5 text-lg tracking-wide text-white;
  }

  .summaryModalSubTitle {
    @apply pr-2 pb-1.5 text-lg tracking-wide text-white;
  }

  .modalLabel {
    @apply inline-block w-20 pb-1 mx-2 text-sm tracking-tight text-gray-400;
  }

  .modalInput {
    @apply w-20 h-8 mx-2 text-xl font-semibold text-center border-2 border-black border-solid rounded-md;
  }

  .settingGroup {
    @apply mb-8;
  }

  .navWrapper {
    @apply flex items-start h-28 layout-spaces md:h-32;
  }

  .top-left {
    @apply relative flex items-center flex-auto;
  }

  .top-right {
    @apply relative flex flex-row-reverse items-center justify-start flex-auto min-w-0;
  }

  .timerRingWrapper {
    @apply absolute h-timerWrapperRingSm md:h-timerWrapperRingMd lg:h-timerWrapperRingLg;
  }

  .timerRing {
    @apply stroke-transparent fill-transparent;
  }

  .timerRingElapsed {
    @apply stroke-white opacity-40 stroke-ring;
  }

  .base-timer__path-remaining {
    /* Just as thick as the original ring */
    stroke-width: 0.3rem;

    /* Rounds the line endings to create a seamless circle */
    stroke-linecap: round;

    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;

    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;

    /* Allows the ring to change color when the color value updates */
    stroke: #f2e78a;
  }

  .timerRingWrapper {
    /* Flips the svg and makes the animation to move left-to-right */
    transform: scaleX(-1);
  }

  .timerWrapper {
    @apply layout-spaces h-timerWrapperSm md:h-timerWrapperMd lg:h-timerWrapperLg;
  }

  .mid-center {
    @apply relative flex items-center justify-center flex-auto;
  }

  .timer {
    @apply relative flex items-center justify-center overflow-hidden rounded-full w-timerSmRadius h-timerSmRadius md:w-timerMdRadius md:h-timerMdRadius lg:w-timerLgRadius lg:h-timerLgRadius;
  }

  .timerText {
    @apply z-10 text-5xl md:text-6xl lg:text-7xl font-bold text-white [text-shadow:0_8px_8px_rgba(0,0,0,1)];
  }

  .breakTimerText {
    @apply z-10 text-5xl font-bold text-white text-opacity-50 md:text-6xl lg:text-7xl;
  }

  .buttonsWrapper {
    @apply grid justify-center text-center layout-spaces;
  }

  .chatButtonWrapper {
    @apply flex justify-end mx-3 my-2 mt-4;
  }

  .button-basic-style {
    @apply relative flex items-center justify-center w-auto h-10 px-3 py-1 mx-1 text-lg text-white border-b-2 shadow-xl border-neutral-800 hover:border-b-0 md:mx-2 hover:bg-slate-800 rounded-2xl;
  }

  .long-button-style {
    @apply justify-center my-2 text-lg border-b-4 border-neutral-800 hover:border-b-0 md:my-3 md:text-3xl bg-button w-buttonSm h-buttonSm md:h-12 md:w-52;
  }

  .targetCounter {
    @apply items-center flex h-10 px-3 mb-5 text-3xl text-white md:text-4xl md:mx-2 [text-shadow:0_8px_8px_rgba(0,0,0,1)];
  }

  .resetText {
    @apply hidden text-sm hover:inline-flex;
  }

  .resetBtn {
    @apply self-end w-6 ml-2 hover:cursor-pointer;
  }

  .circle-button-style {
    @apply flex items-center justify-center w-12 h-12 border-b-4 rounded-full border-neutral-800 hover:border-b-0;
  }

  .circle-icon {
    @apply w-12 h-12;
  }

  .button-icon {
    @apply md:mr-2 w-7 h-7;
  }
}
