@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

@layer components {
  .button-basic-style {
    @apply relative flex items-center justify-between w-auto h-10 px-3 py-1 mx-2 text-lg text-white shadow-xl hover:bg-slate-800 rounded-2xl;
  }

  .long-button-style {
    @apply justify-center text-2xl bg-button w-buttonWidth;
  }

  .circle-button-style {
    @apply flex items-center justify-center w-12 h-12 rounded-full;
  }

  .circle-icon-spacing {
    @apply w-12 h-12;
  }

  .button-icon-spacing {
    @apply mr-2 w-7 h-7;
  }
}

.cc {
  min-height: 205px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Allerta Stencil", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.centering {
  display: flex;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.center-bottom {
  display: flex;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
}
.center-end {
  display: flex;
  position: absolute;
  left: 97%;
  top: 90%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
}

.top-left {
  align-items: center;
  position: relative;
  display: inline-flex;
  flex: 1 1 auto;
}

.top-center {
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-flex;
  flex: 1 1 auto;
}

.top-right {
  align-items: center;
  min-width: 0;
  flex-direction: row-reverse;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.background {
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-img {
  opacity: 1;
  transition: transform var(--a-show-full-duration) var(--a-show-full-curve);
  background-image: url("/images/hubble_cha1_mosiac_ccexpress.jpeg");
  background-size: cover;
  height: 100%;
}

input[type="text"] {
  font-size: 1.125rem;
  color: #fff;
  margin-left: 0.5rem;
}
